---
import { type ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { type ProjectFrontmatter } from '../../../util/projectTypes.ts';
export interface Props {
    project: ProjectFrontmatter;
    slug: string;
}

const { title, stack, description, imageUrl } = Astro.props.project;

const projectArticleUrl = `/projects/${Astro.props.slug}`;

const imageName = `/src/assets/projects/${imageUrl.split('/').pop() ?? ''}`;
const projectImages = import.meta.glob<{ default: ImageMetadata }>('/src/assets/projects/*.png');
let useImage = projectImages[imageName] !== undefined;
console.log(imageName, useImage);
---

<div class="project-card">
    <a href={projectArticleUrl} title="Learn more" class="block feature-img">
        {useImage
            ? <Image src={projectImages[imageName]()} alt={`Project feature image for ${title}.`} />
            : <img src={imageUrl} alt={`Project feature image for ${title}.`}>
        }
    </a>
    <div class="info">
        <h4 class="text-xl">
            <a href={projectArticleUrl} title="Learn more" class="hover:text-poimandres-brightYellow transition-colors">
                {title}
            </a>
        </h4>
        <ul class="flex flex-row flex-wrap gap-4 md:w-2/3 lg:w-3/4">
            {stack?.map((tech) => (
                <li class="text-poimandres-brightMint text-xs lg:text-sm">
                    {tech}
                </li>
            ))}
        </ul>
        <p class="bg-transparent md:bg-poimandresStorm-bg md:p-4">{description}</p>
    </div>
</div>

<style>
    .project-card {
        @apply relative;
    }
    
    .project-card .feature-img {
        aspect-ratio: 16 / 9;
        @apply w-full md:w-2/3 hover:scale-95 hover:rounded-md transition-all overflow-hidden;
    }

    .project-card .info {
        @apply w-full md:w-1/2 lg:w-5/12 flex flex-col gap-2 bg-poimandresStorm-bg md:bg-transparent p-2 md:p-0 md:absolute md:bottom-0;
    }

    .project-card:nth-child(odd) .info {
        @apply md:items-end md:right-0;
    }

    .project-card:nth-child(even) .feature-img {
        @apply md:ms-auto;
    }

    .project-card:nth-child(odd) .info ul {
        @apply md:justify-end;
    }
</style>
