---
import '@fontsource-variable/inter';

import SiteNavbar from '../components/Navbar.astro';
import SiteFooter from '../components/Footer.astro';
import config from '../util/config.ts';
import '../styles/globals.css';

export interface Props {
    title: string;
    description?: string;
}

const { title, description } = Astro.props;

const desc = description ?? "Joshua Ibrom is a junior software engineer and digital craftsman focused on building solutions that enable awesome digital experiences.";

const headerHeight = config.headerHeight;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content={desc} />
		<title>{title}</title>
	</head>
	<body class="bg-poimandres-bg text-poimandres-white min-h-screen flex flex-col">
        <SiteNavbar headerHeight={headerHeight} />
        <div style={`padding-top: ${headerHeight};`} class="grow">
		    <slot />
        </div>
        <SiteFooter />
	</body>
</html>
